/* Notes were added to easy any "future me" alterations*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif; /* good 'Internet' look in general */
}
a{
  font-family: 'Rokkitt', serif; /* nice for certain titles*/
  font-size: 24px;
  font-stretch: expanded;
}
nav { /* 'nav bar' configurations */
  position: absolute;
  width: 100%;
  display: flex;
  padding: 43px 165px;  /* padding adds a buffer space around the content; */
  justify-content: space-between; /* splits the content left/right with space in between */
  z-index: 40;
  /* background: aqua; */ /*keep commented, this is for visualisation of area only*/
}

.header-text{
  color: #750c0c;
  font-weight: bolder;
}

.hero {
  height: 100vh;
  background: black;
  z-index: -20;
}
.hero img {
  width: 100%;
  position: absolute;
  bottom: 0px;
  /* height: 110vh; */
  object-fit: cover;
  z-index: 1; /* pushes back in Z; */
}
.main-title {
  position: absolute;
  top: 35%;    /* bring it a litle up from center; */
  left: 50%;
  font-size: 100px;
  transform: translate(-50%, -30%); /* correction for true center; a little up from center /left/top/ instead of starting leftmost margin on center*/ 
  z-index: 2;

}

.content {
  width: 100%;
  /* background-color: #130d0a; */ /*Alternate Version*/
  background: rgb(24, 24, 24);
  min-height: 100%;
  z-index: 25;
  position: absolute;
}
.content-images {
  display: flex;

  justify-content: space-around;
  align-items: center;
  min-height: 600px;
  text-align: center;
}

.text-box{
  position: relative;
  align-content: center;
  min-width: 100px;
}

.text {
  display: flex;
  padding: 35px 17%;
  font-size: 17px;
  /* padding: 15px; */

}

.mid-card{        /*Both Images for Links*/
  max-width: 500px;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .text-box {
  /* padding: 35px 17%; */ /*size adaptation idea*/
  }
  .mid-card{        
    min-width: 100px;
    flex-wrap: wrap;
  }

}

/*ordering Parallax Z-index*/

.bg1{ 
  /* top: 0px; */ /*Alternate Version*/
  z-index: -5;
}
.bg2{
  top: 180px;
  /* top: 18%; */ /*Alternate Version*/
  z-index: -4;
}
.mid{
  top: 310px;
  z-index: -3;
}
.core{
  top: 404px;
  z-index: 3;
}
.front{
  top: 810px;
  top: 79%;
  z-index: 4;
}

/*Footer Style*/

footer{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: rgb(95, 92, 86);
  z-index: 50;
  position: sticky;
  bottom: 0;
}

.logo {
  width: 50px;
  padding: 5px ;
  display: flex;
  float: left;
}

#logo-name{
  padding: 5px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#logo-text{
  padding: 0px;
  /* margin-left: 20px; */ /*Alternate Version*/
  margin-bottom: 20px;
  font-size: 12px;
  color: aqua;
}
