/* Notes were added to help explain what I tried to do */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif; /* good 'Internet' look */
}
a{
  font-family: 'Rokkitt', serif;
  font-size: 1.5rem;
  font-stretch: expanded;
}
nav {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 3rem 10rem; /* padding adds a buffer space around the content; */
  justify-content: space-between; /* splits the content left/right with space in between */
  z-index: 40;
  /* background-color: aqua;  */ /* to visualize area; */
}
.header-text{
  color: #750c0c;
  font-weight: bolder;
}

.hero {
  height: 100vh;
  background: black;
  z-index: -20;
}
.hero img {
  width: 100%;
  position: absolute;
  bottom: 0px;
  /* height: 110vh; */
  /* object-fit: cover; */
  z-index: 1; /* pushes back in Z; */
}
.main-title {
  position: absolute;
  top: 35%;    /* bring it a litle up from center; */
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%); /* correction for true center; a little up from center /left/top/ instead of starting leftmost margin on center*/ 
  z-index: 2;

}

.content {
  width: 100%;
  /* background-color: #130d0a; */
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 100;
  position: absolute;
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}

.mid-card{
  /* width: 500px; */
  width: 50vh;

}

.bg1{
  z-index: -5;
}
.bg2{
  top: 100;
  z-index: -4;
}
.mid{
  top: 200;
  z-index: -3;
}
.core{
  top: 400;
  z-index: 3;
}
.front{
  top: 500;
  z-index: 4;
}

footer{
  position: absolute;
  width: 100%;
  background-color: rgb(95, 92, 86);
}

.logo {
  width: 50px;
  padding: 5px ;
  display: flex;
  float: left;
}

#logo-name{
  padding: 5px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#logo-text{
  padding: 0px;
  /* margin-left: 20px; */
  margin-bottom: 20px;
  font-size: 0.75rem;
  color: aqua;
}