/* Notes were added to easy any "future me" alterations*/
*,*::before,*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif; /* good 'Internet' look in general */
}

body {
	font: normal 16px/1.5 'Poppins', sans-serif; /* good 'Internet' look */
	background: #187795;
	color: #fff;
	overflow-x: hidden;
	padding-bottom: 50px;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
	background: rgb(142, 61, 142);
}

#bioPic {
	width: 200px;
}

#welcome-video {
    align-self: center;
    
}

/* ACCORDION SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container{
    display: flex;
    width: 100%;
    padding: 10px;
}


.container horizontal-accordion{
    display: flex;
    width: 100%;
    padding: 0;
     margin: 0;       /* margin-left: ;*/
     height: 200px;     
}

.choice{
    height: 180px;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    float: left;
    align-items: center;
    transition: width 0.2s;   
    border-radius:5px;                                         /*Add to make corners round, set 0 to make square*/
    border-right: 1px solid;
    border-right-color: #080808;    /*shadow effect on cards*/
    border-bottom-color: #080808;   /*shadow effect on cards*/
    box-shadow: 0 0 30px rgba(57, 58, 59, 0.6);   /*shadow effect on cards*/
}

.choice:not(:last-child) { /*customize all but last for in between effect*/ /*redundant for now*/
    border-right: 1px solid;
    border-right-color: #080808;
}

.expand{
    width: 65%;
}
.unset{
    width: 16%;
    color: rgb(255, 255, 255) !important;
    background-color: #615f5f !important;
}
.small{
    width: 5%;
    background-color: #615f5f !important; /*changes colour when shrunk*/
}

/*opacity of text inside Acc Cards -> when another is open >> instead of dividing Title / Text bellow:
.small>div{
    opacity: 0;         
}*/

.card-title {
    width: fit-content;
    white-space: nowrap;
}
  
.card-title:before {
    font-weight: 400;
    /* content: "\f15b"; */
    margin-right: 5px;

}

.card-body, .card-title {
    width: 100%;
    /* padding: 0; */
}

.small .card-title {    /*orientation of TITLE of card -> when another is open*/
    transform-origin: 10px 10px;
    transform: rotate(90deg);
    padding: 5px;
}

.small .card-text {     /*opacity of text inside Acc Cards -> when another is open*/
    opacity: 0; 
}

.unset > div > p{ 
    opacity: 0;         /*opacity of text inside Acc Cards -> when all are closed*/
}
.expand > div {
    transition-delay: 200ms;
    opacity: 1;
}

/* CARDS SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card{
    box-shadow: 0 0 30px rgba(57, 58, 59, 0.6);   /*shadow effect on cards*/
}

.card img{
    height: 450px;
}

/* GALLERY SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.floating-text {
    padding-left: 10px ;
    padding-right: 10px ;
    text-align: justify;
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}